@import '../css/common/helpers.css';
@import '../css/apps/mr-email/email-style.css';
@import '../css/apps/mr-keep/keep-app-style.css';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: #202124;
    color: aliceblue;
}

header {
    height: 5rem;
    border-bottom: 1px solid black;
}

h1,
h2,
h3 {
    margin: 0;
}

footer {
    bottom: 0;
    text-align: center;
}

ul{
    padding: 0;
    margin: 0;
}