@import '../css/common/helpers.css';
@import '../css/apps/mr-email/email-style.css';
@import '../css/apps/mr-keep/keep-app-style.css';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #202124;
    color: aliceblue;
}

header {
    margin: 0 auto;
    width: 95%;
    padding: 1.5rem;
    height: 7rem;
    border-bottom: 1px solid rgba(202, 202, 202, 0.644);
}
header img{
    width: 100px;
    padding: 10px 5px;
}

h1,
h2,
h3 {
    margin: 0;
}

p{margin: 0}

footer {
    bottom: 0;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}
select {
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;      /* Remove default arrow */
    /* background-image: url(...);   Add custom arrow */
 }