.keep-preview-container {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.keep-preview-container img {
    width: 200px;
    height: 200px;
}

.input-container {
    width: 100%;
    height: 2rem;
    padding: 2rem;
    background-color: rgb(219, 219, 219);
}