
li{list-style-type: none;}
a{
    text-decoration: none;
    color: #145374;
}
.books-app{
    font-family: Raleway;
}
.book-details-page{
    font-family: Raleway;
}

.links{
    align-items: flex-end;
    width:25%;
    font-weight: 400;
    font-family: 'Josefin Sans';
    font-size: 1.6rem;
    margin: 0;
    padding-right: 5rem;
}
.links a{
    color: #e8e8e8;
    text-decoration: none;
}
.books-filter{
    justify-content: center;
    align-items: center;
}

.add-book-page{
    height: 86.5vh;
}

.book-title-img{
    text-align: center;
    font-style: italic;
    font-size: 2rem;
}

.user-review{
    max-width: 50rem;
    border-top: 1.8px solid rgba(248, 210, 140, 0.6);
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 1.5rem;
    padding:1rem 2rem;

}

.books-list-container{
    margin: 0 auto;
    width: 1550px;
    
}

.book{
    width: 15rem;
    box-shadow: 12px 6px 5px rgb(27, 27, 27);
    background: #2c2c2c;
    min-height: 25rem;
    max-height: 25rem;
    max-width: 16rem;
    border: .5px solid rgba(202, 202, 202, 0.644);
    margin: 1rem;
    border-radius: 8px;
    position: relative;
}
.book img{
    width: 99.9%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.book:hover{
    transition: all .2s;
    border-bottom: 1px solid rgba(248, 210, 140, 0.9);
    border-top: 1px solid rgba(248, 210, 140, 0.6);
    box-shadow: 17px 17px 20px -17px rgba(248, 210, 140, 0.87),-17px -17px 20px -17px rgba(248, 210, 140, 0.87) ;
    position: relative;
}
.green{color: green;}
.red{color:red;}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.flex.col{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}

.book-details{
    margin:auto 0;
    border-radius: 8px;
    position: relative;
    align-items: end;
}
.book-details img{
    border-radius: 5px;
}
.img-info{
    padding-left: 1rem;
    border-left: 1px solid rgba(248, 210, 140, 0.753);
    height: 25rem;
}

.book-info img{
    width: 22rem;
    height: 29.9rem;
    border-radius: 8px;
    
}
.book-info{
    min-width: 22rem;
    max-width: 22rem;
    padding: 0 1rem;
    font-size: 1.5rem;
}
.author-det{
    margin-bottom: .5rem; 
    color: #f1eee8;
}
.title-det{
    font-size: 2.7rem;
    margin-bottom: 1rem;
    font-family:smBoldRaleway;
}
.subtitle-det{
    padding: 1rem 0 2rem 0;
    color: rgb(250, 237, 212);
    font-family:LightRaleway;
    font-size: 2.2rem;
}
.price-det{
    color: rgb(250, 237, 212);
}
.book-info:nth-child(3) {
    border-left: 3px solid rgba(248, 210, 140, 0.753);
    max-width:27rem;
}
.book-info:nth-child(2) {
    border-left: 3px solid rgba(248, 210, 140, 0.753);
    margin-left:1rem;
}

.rev-user-name, .review-section{
    margin-top:1rem;
    font-family:smBoldRaleway;
    font-size: 2rem;
}
.rev-date,.rev-rate{
    font-family: Raleway;
    color: rgb(250, 237, 212);
}
.rev-date input, .rev-user-name input{
    outline: none;
    background: none;
    border: none;
    border-left: 3px solid rgba(248, 210, 140, 0.753);
    padding-left:.5rem; 
    margin-left:1rem; 
    font-size: 1.5rem;
    color: rgba(248, 210, 140, 0.911);
    margin-bottom: 1rem;

}
.rev-user-name input{
    width: 12rem;
  
}
.rev-date input{
    width: 13rem;
    font-family: Raleway;
    margin-top:.5rem; 
}
.review-section{
    border-left: 3px solid rgba(248, 210, 140, 0.753);
    padding-left: 2rem;
}
.review-section textarea{
    width: 100%;
    min-height: 1rem;
    outline: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: rgb(245, 232, 217);
    overflow: auto;
    resize: none;
    border-left: 3px solid rgba(248, 210, 140, 0.911);
    padding: 0rem .5rem 0 .5rem;
    margin: .5rem 0 0 1rem;
}
.review-section {
    position: relative;
}
.fa-comment-dots{
    align-self: flex-end;
    font-size: 2.3rem;
    color: rgb(229, 194, 130);
}
.star{
    margin-left: .3rem;
    line-height: 1.8rem;
}

.home-page{
    height: 84vh;
}

.small-tnail{
    width: 50px;
    height: 80px;
}
.found-book{
    margin: 0 auto;
    width: 80vw;
    height: 6rem;
    border: #00334e 1px solid;
    padding: 0 2rem;
    margin-bottom: 1rem;
}