
.unread{
    font-weight: 700;
}
.preview{
    color: grey;
}

.side-nav{
  width: 10rem; 
  border: 1px solid black; 
  height: 100vh;
}
.email-node{
  height: 5rem;
  border: 1px solid rgba(202, 202, 202, 0.644);
  width: 80vw;
  margin: 2rem 0;

}
.email-app-container{
  width: 100vw;
}
.email-organize{
  
}