
.unread{
    font-weight: 700;
}
.preview{
    color: rgba(255, 166, 0, 0.911);
    padding: 0 0 1rem .5rem;
}


.icon{
  width: 30px;
}
.side-nav{
  width: 20rem; 
  height: 100vh;
  position: relative;
  padding: 0 1rem 0 4rem;;
}
.nav-selection{
  width: 95%;
  height: 100vh;
}
.side-nav-item{
  margin-bottom: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  width: 100%;
  line-height: 2.5rem;
  transition: .3s ease-in-out;
}
.picked-section{
  border-bottom: 1px solid rgba(248, 210, 140, 0.603);
  box-shadow: 0px 12px 15px -15px rgba(248, 210, 140, 0.87);
}


.fas.nav{
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 2.5rem;
}
.far{
  margin-left:1rem ;
}
.email-node{
  box-shadow: 12px 6px 5px rgb(27, 27, 27);
  background: #2c2c2c;
  min-height: 5rem;
  border: 1px solid rgba(202, 202, 202, 0.644);
  width: 70vw;
  margin-bottom: .7rem;
  padding: .7rem 1.3rem;
  border-radius: 8px;
  position: relative;
  line-height: 1.3em;
  z-index:0;
}
.peek-border{
  border: 1px solid rgba(255, 255, 255, 0.753);
}
.email-node:hover{
  border: 1px solid rgba(255, 255, 255, 0.644);
  transition: .3s ease-in-out;
}
.email-info:hover>.top-prev{
  color: rgba(255, 166, 0, 0.911);
  transition: .3s ease-in-out;
}
.sender{
  font-size: 1.3rem;
}
.peek-sender{
  padding: 0 0 .675rem;
}
.peek-subject{
  padding: 0 0 .28rem;
  color: rgb(245, 232, 217);

}


.full-size-email{
  width: 100vw;
  max-height: 80vh;
  border: 1px solid rgba(202, 202, 202, 0.644);
  border-radius: 10px;
  margin: 3rem 6rem;
  padding: 2rem 3rem;
}
.email-organize{
  width: 100%;
  height: 3rem;
  padding: 0 2rem;
  margin: 1rem 0 2rem 0;
  border-bottom: 1px solid rgba(248, 210, 140, 0.603);
  box-shadow: 0px 12px 15px -15px rgba(248, 210, 140, 0.87);
  border-radius: 10px;

}

.emails-list{
  font-size: 1.115rem;
  padding:1.5rem 1.5rem 0 1rem;
}
.email-info{
  width: 100%;
  transition: .3s ease-out;
}
.content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(214, 210, 210, 0.664);
}
.recived-at{
position: absolute;
right: 1.7rem;
top: .9rem;
font-size: 1rem;
}


.preview{
  border-bottom: 1px solid rgba(202, 202, 202, 0.644);
  padding-bottom:0;
}
.peek{
  margin-top: 1rem;
  margin-left: .3rem;
}

.compose-btn .far{
color: white
}
.compose-btn:hover{
  transition: .3s ease-in-out;
  box-shadow: 0px 0px 49px -8px rgba(248, 210, 140, 0.87);
}
.compose-modal{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30rem;
  width: 42rem;
  border-top: 1px solid rgba(202, 202, 202, 0.644);
  border-left: 1px solid rgba(202, 202, 202, 0.644);
  border-right: 1px solid rgba(202, 202, 202, 0.644);
  border-radius: 10px;
  padding: 1.3rem 1.7rem;
  background: #2c2c2cec;
  z-index:1;
}
.compose-modal h1{
  font-size: 1.5rem;
  color:rgba(255, 166, 0, 0.911);
  line-height: 1.5rem;
}
.compose-modal input{
  margin-left: .5rem;
  width: 100%;
  height: 1.3rem;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(248, 210, 140, 0.37);
  font-size: 1.2rem;
  color: rgba(248, 210, 140, 0.911)
}
.compose-modal textarea{
  min-height: 12rem;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(248, 210, 140, 0.37);
  font-size: 1.2rem;
  color: rgb(245, 232, 217);
  overflow: auto;
  resize: none;
}
.compose-modal textarea::placeholder{
  color: rgb(245, 232, 217);
}
.compose-top{
  width:100%;
  border-bottom: 1px solid rgba(202, 202, 202, 0.644);
  position: relative;
  padding-bottom: .4rem;
  margin-bottom: 3rem;
}
.fas.compose-x{
  position: absolute;
  right: .5rem;
  top: .3rem;
  font-size: 1.35rem;
  cursor: pointer;
}
.fas.compose-x:hover{
  color: rgba(250, 78, 78, 0.863);
}
.compose-subject{
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgb(245, 232, 217);
}
.compose-email-address{
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgb(245, 232, 217);
  margin-bottom: 3rem;
}
.compose-btn{
  font-size: 1.7rem;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  border: 1px solid rgba(202, 202, 202, 0.555);
  padding: .3rem .6rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 34px -8px rgba(248, 210, 140, 0.87);
  line-height: 2rem;
  }
 
.replayBtn{
  padding-right: 1rem;
  padding-top:.5rem;
  transition: .3s;
}

.replayBtn span{
  font-size: 2rem;
  /* padding-right: .3rem; */
}
.replayBtn .fab{
  transform: rotate(20deg);
  font-size: 2.7rem;
}
.replayBtn .replay{
  cursor: pointer;
}
.replayBtn .replay:hover{
  transition:color .3s ease-in-out;
  color: rgb(155, 231, 41);
}


.filter input{
  margin-left: .5rem;
  width: 100%;
  height: 1.3rem;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(248, 210, 140, 0.37);
  font-size: 1.2rem;
  color: rgba(248, 210, 140, 0.911)
}